.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 11px sans-serif;
  font-family: monospace;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

h1{
	color: darkblue;
	font-weight: normal;
  font-family: monospace;
	line-height: 1.1em;
	margin: 0.8cm 0 .5em 0;
  text-align: center;
  text-decoration: underline;
}

body{
    font-family: arial; 
    font-size: 80%; 
    line-height: 1.2em; 
    width: 100%; 
    margin: 0; 
    margin-left: 20px;
    background: #deefea;
}

footer{
  font-family: arial;
  text-align: center;
  
}